doctype html
html
  head
    title= title
    link(href="#{require('../images/favicon.png')}", rel="icon", type="image")
    link(href="#{require('../images/favicon.ico')}", rel="shortcut icon", type="image/x-icon")
    link(href="#{require('../images/apple-touch-icon.png')}", rel="apple-touch-icon")
  body
    div(id="react-content")
