<!DOCTYPE html>
<html>
  <head>
    <!--Version: <%= htmlWebpackPlugin.options.version%>-->
    <title>Iris</title>
    <link href="${require('../images/favicon.png')}" rel="icon" type="image">
    <link href="${require('../images/favicon.ico')}" rel="shortcut icon" type="image/x-icon">
    <link href="${require('../images/apple-touch-icon.png')}" rel="apple-touch-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div id="react-content"></div>
  </body>
</html>
