.search-bar {
  padding: $layout-vertical-spacing 0;
}

.search-result {
  cursor: pointer;

  .u-text-highlight {
    color: color-yiq($text-highlight-color);
  }

  &:hover {
    background: $text-highlight-color;

    .u-text-highlight {
      background: darken($text-highlight-color, 15);
      color: color-yiq(darken($text-highlight-color, 15));
    }
  }
}
