// ---------------------------------------------------------------------------------
// Utilities
// ---------------------------------------------------------------------------------

.u-text-info {
  color: $gray-500;
}

.u-text-info-dark {
  color: $gray-600;
}

.u-text-small {
  font-size: $font-size-sm;
}

.u-text-highlight {
  background-color: $text-highlight-color;
}

.u-table-cell-maxwidth {
  width: 100%;
}

.u-table-cell-snug {
  width: 1px;
  white-space: nowrap;
}

.u-list-align-left {
  &.fa-ul {
    margin-left: 1.5em;
  }
}

.font-weight-lightest {
  font-weight: 100 !important;
}

// ---------------------------------------------------------------------------------
// Icons
// ---------------------------------------------------------------------------------

.fa-xxs {
  font-size: .6em;
}
