// --------------------------------------------------
// COLORS
// --------------------------------------------------

$hover-blue:       #00a1e5;
$hover-light-blue: #e5f4fa;
$hover-orange:     #FFECCD;
$white-gray:       #eee;
$alarm-red:        #e22;
$help-info-blue:   lighten($medium-blue, 10%);
$emphasize-info-border-color: #e2e8ea;

$label-danger-greyscale-bg:   #333;
$label-warning-greyscale-bg:  $medium-gray;

$state-info-bg:         #d9edf7;
$state-info-border:     #bcdff1;
$state-info-text:       #31708f;
$state-warning-bg:      #fcf8e3;
$state-warning-border:  #faf2cc;
$state-warning-text:    #8a6d3b;
$state-success-bg:      #dff0d8;
$state-success-border:  #d0e9c6;
$state-success-text:    #3c763d;
$state-danger-bg:       #f2dede;
$state-danger-border:   #ebcccc;
$state-danger-text:     #a94442;

/* Bootstrap descriptive colors */
$brand-primary: $medium-blue;
$brand-info:    lighten($bright-blue, 10%);
$brand-success: $medium-green;
$brand-warning: lighten($bright-orange, 5%);
$brand-danger:  #e22;

$text-highlight-color: $hover-light-blue;



// --------------------------------------------------
// BUTTONS
// --------------------------------------------------

$btn-outline-color:       $medium-blue;
$btn-outline-bg:          transparent;
$btn-outline-border:      $medium-blue;
$btn-outline-hover-color: #fff;


// --------------------------------------------------
// FONTS
// --------------------------------------------------

$font-family-sap-light: "BentonSansLight";
$font-family-sap-regular: "BentonSans";
$font-family-sap-medium: "BentonSansMedium";


// --------------------------------------------------
// COMPONENTS
// --------------------------------------------------

$padding-medium-vertical:   8px;
$padding-medium-horizontal: 14px;

// --------------------------------------------------
// BREADCRUMB
// --------------------------------------------------

$context-breadcrumb-bg: #efefef;
$context-breadcrumb-fancy-bg: linear-gradient(darken($bright-blue, 5%), $bright-blue);
$context-breadcrumb-fancy-bg-danger: linear-gradient(darken($alarm-red, 5%), $alarm-red);
$context-breadcrumb-height: 42px;
$context-breadcrumb-padding-horizontal: 15px;


// --------------------------------------------------
// DROPDOWN
// --------------------------------------------------


$inverse-dropdown-bg: #090909;
$inverse-dropdown-divider-bg: #444;
$inverse-dropdown-link-color: #fff;


// --------------------------------------------------
// TOOLBAR
// --------------------------------------------------

$toolbar-vertical-padding: 5px;

// --------------------------------------------------
// FOOTER
// --------------------------------------------------

$footer-height: 60px;
$footer-margin-top: 100px;



// --------------------------------------------------
// LOGIN
// --------------------------------------------------

$login-max-width: 360px;


// ---------------------------------------------------------------------------------
// Variables based on bootstrap variables
// ---------------------------------------------------------------------------------

$font-size-medium: ceil(($font-size-base * 1.125));
$context-breadcrumb-font-size: $font-size-medium;


// LAYOUT
$layout-vertical-spacing: $grid-gutter-width;
